matplotlib
torch
numpy
einops
pytorch-lightning
torchvision
torchmetrics
seaborn
pandas
rasterio
segmentation_models_pytorch
albumentations
gdal==3.8.4
rich 
tensorBoard
tensorBoardX
transformers
weightwatcher==0.7.5.5