matplotlib
torch
numpy
einops
pytorch_lightning
torchvision
torchmetrics==1.7.1
seaborn
pandas
rasterio
segmentation_models_pytorch
albumentations
pytorch_lightning
gdal==3.8.4
rich 
tensorBoard
tensorBoardX